# Node
node_modules/
npm-debug.log
yarn-error.log
.yarn/

# Expo
.expo/
.expo-shared/
dist/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.vs/
*.swp
*.swo

# Firebase
.firebaserc
firebase-debug.log

# Build outputs
build/
*.jks
*.keystore